.TransportTableView {
    display: flex;
    justify-content: center;
    width: 30em;
    padding-left: 35%;
    padding-right: 35%;
}

.TransportTableViewContent {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: flex-start;
    flex-basis: 85%;
}

.entur-to-from-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30em;
}